.search{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 5vw;
  
    top: 1vh;
  }
.accaunt-r {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 33px ;
    left: 73vw;
    top: 1.5vh;
  }

  
