.file {
  position: relative;
  width: 25vw;
  height: 12vh;
  top: 10vh;
  margin: 0 auto;

  border-radius: 50%;
  background-color: rgba(251, 242, 242, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upload-file {
  position: relative;
  top: 30px;
}

.uplouad {
  position: relative;
  width: 25vw;
  top: 5vh;
  left: 35vw;
}

.input {
  position: relative;
  width: 85vw;
  height: 5vh;
  left: 5vw;
  top: 15vh;
  margin-bottom: 2vh;
  background: rgba(212, 197, 236, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-color: transparent;
  position: relative;

  font-size: 18px;
  color: #5546ae;
  font-weight: 500;
  padding-left: 15px;
}

.textarea{
    position: relative;
  width: 85vw;
  height: 10vh;
  left: 5vw;
  top: 15vh;
  margin-bottom: 2vh;
  background: rgba(212, 197, 236, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-color: transparent;
  font-size: 18px;
  color: #5546ae;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 7px;
}

.save-button{
    position: relative;
    width: 20vw;
    height: 5vh;
    left: 40vw;
    top: 15vh;
    margin-bottom: 2vh;
    background: rgba(212, 197, 236, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-color: transparent;
    font-size: 18px;
    color: #5546ae;
    font-weight: 700;
    padding-left: 0px;
    padding-top: 7px;
}

.add-div{
    position: relative;
    width: 70vw;
    height: 5vh;
    left: 13vw;
    top: 30vh;
   
}


