.file {
  position: relative;
  width: 25vw;
  height: 12vh;
  top: 10vh;
  margin: 0 auto;

  border-radius: 50%;
  background-color: rgba(251, 242, 242, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upload-file {
  position: relative;
  top: 30px;
}

.uplouad {
  position: relative;
  width: 25vw;
  top: 5vh;
  left: 35vw;
}

.input {
  position: relative;
  width: 85vw;
  height: 3vh;
  left: 5vw;
  top: 15vh;
  margin-bottom: 2vh;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.69);
  padding: 15px;
  border-radius: 15px;
  
  position: relative;
  background-color: transparent;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
    text-align: left;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.69);
  
}

.textarea{
    position: relative;
  width: 85vw;
  height: 10vh;
  left: 5vw;
  top: 15vh;
  margin-bottom: 2vh;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.69);
  padding: 15px;
  border-radius: 15px;
  border-color: transparent;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
    text-align: left;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.69);
  background-color: transparent;
 
  padding-left: 15px;
  padding-top: 7px;
}

.save-button{
    position: relative;
    width: 20vw;
    height: 5vh;
    left: 40vw;
    top: 15vh;
    margin-bottom: 2vh;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.69);
    border-radius: 15px;
    border-color: transparent;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.69);
    color: white;
    font-weight: 700;
    padding-left: 0px;
    padding-top: 3px;
}

.add-div{
    position: relative;
    width: 70vw;
    height: 5vh;
    left: 13vw;
    top: 30vh;
   
}


::placeholder{
  font-size: 25px;
}

