.search {
  position: relative;
  display: inline-block;
  width: 40px;

  margin-left: 5%;

  top: 1vh;
}
.accaunt-r {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 33px;
  left: 78%;
  top: 1.5vh;
}

.nav {
  width: 90%;
}
