






.card-other {
  position: absolute;
  width: 100%;
  height: 55px;
  left: 16px;
  top: 510px;
  background: rgba(212, 197, 236, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.card-add {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 115px;
  top: 580px;
  border-radius: 50%;
  background: rgba(212, 197, 236, 0.8);
}
.card-add-img {
  position: absolute;
  width: 31.2px;
  height: 31.2px;
  left: 50px;
  top: 55px;
}

.save {
  position: absolute;
  width: 279px;
  height: 46px;
  left: 47px;
  top: 730px;
  background: #5546ae;
  opacity: 0.4;
  border-radius: 40px;
}

.save-text {
  position: absolute;
  width: 119px;
  height: 34px;
  left: 70px;
  top: 11px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
   text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
  0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
  -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
  1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
  -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
  1px 1px 1px #000000;
}

.user-photo{
  width: 100px;

}