@font-face {
    font-family: SF Pro Text;
    src: url(../../assets/fonts/SFProText/SF-Pro-Text-Bold.otf);
}
@font-face {
    font-family: SF Pro Text;
    src: url(../../assets/fonts/SFProText/SF-Pro-Text-Medium.otf);
}
@font-face {
    font-family: SF Pro Text;
    src: url(../../assets/fonts/SFProText/SF-Pro-Text-Regular.otf);
}
