@media screen  and (min-device-width:481px){
	*{
		visibility: hidden;
	}
}

@media screen  and (max-device-width:480px){
	*{
		margin: 0;
		padding: 0;
		outline: 0;
	}
	
	.root{
		background: url(./assets/images/Rectangle.jpg);
		width: 100vw;
		height: 100vh;
		background-position: 25%;
		background-size: cover;
		
	}
	
}