#menu{
  position: relative;
}

.menu, .menu-u, .menu-er {
  display: block;
  margin-left: 3vh;
  
  position: fixed;
  top: 7vh;
  z-index: 5;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration:none;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
    text-align: center;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.69);
  
}

.menu-u{
  top: 52vh;
}

.menu-er{
position: relative;
margin-left: 15px;
width: 70vw;
}

.list-routes{
  width: 100vw;
  max-height: 40vh;
 
 position: relative;
  margin-bottom: 2vh;
 top:12vh;
  overflow: auto;
  
}

.list-users{
  width: 100vw;
  max-height: 50vh;
  position: relative;
  overflow: auto;
  top: 23vh;

}


.search-input{
  width: 72vw;
  height: 3vh;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 0px 5px 15px;
  margin-left: 2vw;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.69);
  position: fixed;
  top: 55vh;
 
}

#routes{
  position: fixed;
  top: 11vh;
}

.search-button, .search-one-button{
  width: 17vw;
  height: 5vh;
  padding: 5px;
  border-radius: 10px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.69);
  color: white;
  font-size: 18px;
  left: 80vw;
  top: 55vh;
 
}

.search-one-button{
  background-color: rgba(0, 0, 0, 0.52);
  top:11vh
}


.menu-list,.menu-list-u{
    
    margin-left: 5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
    width: 95vw;
    height: 32vh;
    position: relative;
    overflow: auto;
  
}

.menu-list-u{
  max-height: 50vh;
  position: relative;
  
}



.route-photo, .user-photo {
  width: 25vw;
  height: 15vh;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.route-card, .user-card{
  width: 24vw;
  height: 20vh;
  display:inline-block;
  
}

.user-name, .route-span, .city-span {
  text-decoration:none;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
    text-align: center;
  letter-spacing: -0.5px;
  color: rgba(0, 0, 0, 0.69);
 
}


.city-span{
  font-weight: 400;
  font-size: 16px;
  padding-top: 10px;
  display: inline-block;
}

tl-link{
  text-decoration: none;
}
